####### This macro is inspired by the defualt example presented on kTAMV Git Repository #######
########                       https://github.com/TypQxQ/kTAMV                           ######


[gcode_macro AUTO_tool_align]
description = Aligns all tools

# This macro will align all tools using the KTAMV plugin
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set ktamv = printer['gcode_macro _kTAMV_CXC_VARIABLES'] %} 
    M118 Zeroing Offsets ...
    SAVE_VARIABLE VARIABLE=xoffset VALUE=0.0
    SAVE_VARIABLE VARIABLE=yoffset VALUE=0.0
    M118 Homing 
    G28
    kTAMV_clean_nozzels
    G90
    G1 Z{ktamv.zcam} F10000
    # Constants to be customized:
    {% set VAR_CAMERA_CENTER_COORDINATES = [ ktamv.xcam, ktamv.ycam]  %}# Where you have your camera, X,Y
    {% set VAR_TOOL_TO_USE_FOR_CALIBRATION = 0  %}# Tool to use for calibrating the camera
    {% set VAR_TOOL_TO_USE_AS_REFERENCE = 0  %}# Tool to use as reference for the offsets
    {% set VAR_TOOLS_TO_ALIGN = [ 1] %}# Tools to align and get offset to the reference tool
        # Set up the server
        KTAMV_SEND_SERVER_CFG
        # Chose the tool to calibrate with.
        T{VAR_TOOL_TO_USE_FOR_CALIBRATION}
        # Move to the camera center
        G0 X{VAR_CAMERA_CENTER_COORDINATES[0]} Y{VAR_CAMERA_CENTER_COORDINATES[1]} F{printer.ktamv.travel_speed}
        # Wait for tool to finish moving
        M400
        # Calibrate the camera
        KTAMV_CALIB_CAMERA
        # Load the tool to use as reference for our offsets
        T{VAR_TOOL_TO_USE_AS_REFERENCE}
        # Move to the camera center
        G0 X{VAR_CAMERA_CENTER_COORDINATES[0]} Y{VAR_CAMERA_CENTER_COORDINATES[1]} F{printer.ktamv.travel_speed}
        # Find the nozzle center
        KTAMV_FIND_NOZZLE_CENTER
        # Set the origin to calibrate from if the above calibration was successful
        _tool_align_macro_set_origin_if_successful
    # Align all tools, checking everything is ok now inside the next macro because in this the variables have not updated yet.
     {% for tool in VAR_TOOLS_TO_ALIGN %}
        RESPOND PREFIX="info" MSG="-Aligning tool T{tool}"
        _tool_align_macro_align_tool TOOL={tool}
     {% endfor %}

# Set Origin if last nozzle center was successful. 
# Needs to be in separate macro to be calculated after the previous command is finished.
[gcode_macro _tool_align_macro_set_origin_if_successful]
gcode:
    {% if printer.ktamv.last_nozzle_center_successful|default("false")|lower =="true" %}
        KTAMV_SET_ORIGIN
    {% endif %}

# Align tool macro
[gcode_macro _tool_align_macro_align_tool]
gcode:
    # Get tool from params
    {% set TOOL = params.TOOL %}

    # Check if printer is homed, mm/px is calculated and we have set a origin for our tools
    # If everything above is true, we can start the tool alignment
    {% if printer.ktamv.camera_center_coordinates[0]|default("none")|lower !="none" and printer.ktamv.mm_per_pixels|default("none")|lower != "none" and 'xy' in printer.toolhead.homed_axes%}
        RESPOND PREFIX="info" MSG="Aligning tool T{TOOL}"
        # Load tool
        T{TOOL}
        # Move to camera center
        G0 X{printer.ktamv.camera_center_coordinates[0]} Y{printer.ktamv.camera_center_coordinates[1]} F{printer.ktamv.travel_speed}
        # Get nozzle center
        KTAMV_FIND_NOZZLE_CENTER
        # Get offset
        KTAMV_GET_OFFSET
        # Save offset using the next macro
        _tool_align_macro_save_offset TOOL={TOOL}
    {% else %}
        RESPOND PREFIX="info" MSG="Camera not calibrated or origin not set. Please run the macro again."
    {% endif %}

# Macro to save offset
[gcode_macro _tool_align_macro_save_offset]
gcode:
    # Get tool from params
    {% set TOOL = params.TOOL %}
    # If offset is calculated, we can save it
    {% if printer.ktamv.last_nozzle_center_successful|default("false")|lower =="true" %}
        # Add your code here to save the offset
        {action_respond_info(" Saving offset X:"~printer.ktamv.last_calculated_offset[0]~" Y:"~printer.ktamv.last_calculated_offset[1]~" for tool T"~TOOL)}
        {% set svv = printer.save_variables.variables %}
        SAVE_VARIABLE VARIABLE=xoffset VALUE={-1*printer.ktamv.last_calculated_offset[0]}
        SAVE_VARIABLE VARIABLE=yoffset VALUE={-1*printer.ktamv.last_calculated_offset[1]}
        M118 Auto Tool Alignment is Accomplished !
    {% endif %}
    

