##################################
# Shell Commands
##################################

#######################################################
# Store the curent system password in a local file to be automativally used when flashing MCUs
#######################################################

[gcode_shell_command write_password]
command: sh /home/biqu/printer_data/config/0__Marathon/.9__Formbot__MCU_Flash/scripts/.store_syspass.sh 
timeout: 10.

[gcode_macro System_Password]
description: Stores the system password for the flash MCU macro.The execution of this macro is only need if you've changed the system password lately.
gcode:
      RESPOND MSG="Please note: the password may contain only the ASCII letters 'a' through 'z' (case-insensitive), the digits '0' through '9', and the hyphen. The password cannot begin or end with a hyphen. No other symbols, punctuation characters, or blank spaces are permitted."
     
      RUN_SHELL_COMMAND CMD=write_password PARAMS={params.PASSWORD}

      M118 You only need to redo this step when you change the system password again!

#######################################################
# Copy XY-Calibration Print to Gcode folder
#######################################################

[gcode_shell_command copy_calibration_gcode]
command: sh /home/biqu/printer_data/config/0__Marathon/.8__Formbot__Scripts/copy_calibr_gcode.sh
timeout: 20

[gcode_macro Setup_WiFi]
description: Setup WiFi by providing SSID and Password
gcode:
    RESPOND MSG="Starting WiFi setup with SSID: {params.SSID}"
    RUN_SHELL_COMMAND CMD=setup_wifi PARAMS="WIFI_SSID={params.SSID} WIFI_PASSWD={params.PASSWORD}"
    M118 WiFi setup initiated. Please wait a moment and then check the connection.


#######################################################
# Wifi Setup
#######################################################

[gcode_shell_command setup_wifi]
command: sh /home/biqu/printer_data/config/0__Marathon/.8__Formbot__Scripts/setup_wifi.sh
timeout: 20

[gcode_macro Setup_WiFi]
description: Setup WiFi by providing SSID and Password
gcode:
    RESPOND MSG="Starting WiFi setup with SSID: {params.SSID}"
    RUN_SHELL_COMMAND CMD=setup_wifi PARAMS="WIFI_SSID={params.SSID} WIFI_PASSWD={params.PASSWORD}"
    M118 WiFi setup initiated. Please wait a moment and then check the connection.

#######################################################
# Time zone settings
#######################################################

[gcode_shell_command set_time_zone]
command: sh /home/biqu/printer_data/config/0__Marathon/.8__Formbot__Scripts/setup_timezone.sh
timeout: 20

[gcode_macro Setup_Time_Zone]
description: Setup Time Zone by providing Continent and City 
gcode:
    RESPOND MSG="Starting WiFi setup with SSID: {params.CONTINENT} {params.CITY} "
    RUN_SHELL_COMMAND CMD=set_time_zone PARAMS="CONTINENT={params.CONTINENT} CITY={params.CITY}"
    M118 Time zone setup done.
    M118 System needs to reboot in order for the changes to take effect!

#######################################################
# Flash Marathon MCU Mainboard BTT Manta M8P V1.1
#######################################################

[gcode_shell_command flash_mcu_mb]
command: sh /home/biqu/printer_data/config/0__Marathon/.9__Formbot__MCU_Flash/scripts/.flash_M1_BTTM8PV11.sh
timeout: 80

[gcode_macro Flash_Mainboard]
description: This macro flashes the Mainboard with the latest Klipper version from your system
gcode:
    M118 This will flash the mainboard with the latest Klipper firmware.
    M118 The process may take a few minutes, so be patient.
    RUN_SHELL_COMMAND CMD=flash_mcu_mb
    M118 Flash is COMPLETE

